<?xml version="1.0"?>
<config>
	<global>
		<models>
            <scroller>
                <class>Smartaddons_Scroller_Model</class>
            </scroller>
        </models>
		<blocks>
            <scroller>
                <class>Smartaddons_Scroller_Block</class>
            </scroller>            		
        </blocks>				
		<helpers>
            <scroller>
                <class>Smartaddons_Scroller_Helper</class>
            </scroller>
        </helpers>
        <resources>
        	<scroller_setup>
        		<setup>
        			<module>Smartaddons_Scroller</module>
        		</setup>
        	</scroller_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<scroller>
                <use>standard</use>
                <args>
                    <module>Smartaddons_Scroller</module>
                    <frontName>scroller</frontName>
                </args>
            </scroller>
        </routers>
		<layout>
            <updates>
                <scroller module="Smartaddons_Scroller">
					<file>smartaddons/scroller.xml</file>
                </scroller>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Smartaddons_Scroller>
                     <files>
                          <default>Smartaddons_Scroller.csv</default>
                     </files>
                </Smartaddons_Scroller>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Smartaddons_Scroller>
                     <files>
                          <default>Smartaddons_Scroller.csv</default>
                     </files>
                </Smartaddons_Scroller>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<scroller_cfg translate="title" module="scroller">
											<title>SM Scroller Settings</title>
										</scroller_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <scroller_cfg>
        	<general>
                <isenabled>1</isenabled>
                <title>SM Scroller</title>
            </general>
			<module_setting>
				<module_width></module_width>
				<theme>theme1</theme>
				<start>1</start>
				<play>1</play>
				<animation>fade</animation>	
				<interval>2000</interval>
				<duration>600</duration>
				<prenext_show>1</prenext_show>
			</module_setting>			
            <product_selection>
            	<product_source>catalog</product_source>
            	<product_category></product_category>
            	<product_ids></product_ids>
            	<product_order_by></product_order_by>
            	<product_order_dir></product_order_dir>
            	<product_limitation>10</product_limitation>
            </product_selection>
			<product_display_setting>
				<!--<product_image_disp>1</product_image_disp>-->
				<product_image_linkable>1</product_image_linkable>
				<product_image_width>600</product_image_width>
				<product_image_height>500</product_image_height>
				
				<product_title_disp>1</product_title_disp>
				<product_title_linkable>1</product_title_linkable>
				<product_title_color>#000000</product_title_color>
				<product_title_max_characters>40</product_title_max_characters>
				
				<product_links_target>_self</product_links_target>
				
				<product_price_disp>1</product_price_disp>
			</product_display_setting>
            <advanced>
            	<include_jquery>1</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </scroller_cfg>
    </default>
</config>